@font-face {
  font-family: "TiltNeon";
  src: url("./../TiltNeon-Regular-VariableFont_XROT\,YROT.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: "TiltNeon", Verdana, Geneva, Tahoma, sans-serif;
  --dark: #222;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

#footer {
  height: 4rem;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: clamp(12px, 2vw, 1rem);
}

#footer a {
  color: white;
  transition: all 0.3s ease-in-out;
}
#footer a:hover {
  transform: rotate(360deg) scale(1.2);
}

#header {
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  background-color: var(--dark);
  justify-content: space-between;
}
#header #logo {
  height: 80%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#header #logo img {
  height: 100%;
  object-fit: cover;
}
#header #logo #title {
  color: aliceblue;
}

#header #open-nav {
  background-color: transparent;
  border: none;
  color: aliceblue;
  height: 80%;
  aspect-ratio: 1;
  cursor: pointer;
  display: none;
}
#nav-check {
  display: none;
}
#header #open-nav svg {
  width: 80%;
  height: 80%;
}

#main {
  min-height: calc(100vh - 9rem);
  display: flex;
  align-items: stretch;
}

#main #nav {
  width: 30%;
  background-color: #ddd;
}

#main .container {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#main #nav .default-projects {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: stretch;
}
#main #nav button {
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.7rem;
}
#main #nav button:hover {
  background-color: #ccc;
}
#main #nav .default-projects button {
  display: flex;
  justify-content: flex-start;
  border: none;
  gap: 0.4rem;
  font-size: 1.2rem;
  color: #333;
}
#main #nav .extra-projects {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
#main #nav .extra-projects h2 {
  font-weight: bold;
}
#main #nav .extra-projects .nested-container {
  padding: 1rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#main #nav .extra-projects .projects {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
#main #nav .extra-projects .projects .project {
  display: flex;
  justify-content: space-between;
  border: none;
  color: #333;
}
#main #nav .extra-projects .projects .project .delete {
  opacity: 0;
  padding: 0.2rem;
  transition: 0.3s ease-in-out;
}
#main #nav .extra-projects .projects .project .delete:hover {
  opacity: 1;
}
#main #nav .extra-projects .projects .project .title {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
#main #nav .extra-projects .add {
  border: none;
  display: flex;
  justify-content: flex-start;
  gap: 0.6rem;
  align-items: center;
}
#main #nav .add-project-form {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
#main #nav .add-project-form form {
  z-index: 2;
  background-color: #ddd;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#main #nav .add-project-form form input {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
#main #nav .add-project-form form .add-project {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: 0.3s ease-in-out;
}
#main #nav .add-project-form form .add-project:hover {
  background-color: #ccc;
}

.adding-form {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}
.adding-form form {
  width: 300px;
  height: 350px;
  z-index: 2;
  padding: 0.5rem;
  background-color: #ddd;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.adding-form form .title {
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.adding-form form .description {
  height: 6rem;
  border-radius: 0.5rem;
  border: none;
  resize: none;
  padding: 0.5rem;
}
.adding-form form .date {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 3rem;
  align-items: center;
}
.adding-form form .date input {
  color: darkcyan;
  border-radius: 0.5rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 0.5px darkcyan solid;
  font-size: 0.7rem;
  padding: 0.3rem 0.6rem;
}
.adding-form form .priority {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 3rem;
  align-items: center;
}
.adding-form form .priority input {
  display: none;
}
.adding-form form .priority label:first-child {
  font-size: 1.2rem;
}
.adding-form form .priority label:not(:first-child) {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.adding-form form .priority .low-label {
  color: green;
  border: green solid 0.5px;
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
.adding-form form .priority .medium-label {
  color: orange;
  border: orange solid 0.5px;
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
.adding-form form .priority .high-label {
  color: red;
  border: red solid 0.5px;
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.adding-form form .priority .low-label:hover {
  background-color: green;
  color: white;
}
.adding-form form .priority .medium-label:hover {
  background-color: orange;
  color: white;
}
.adding-form form .priority .high-label:hover {
  background-color: red;
  color: white;
}
.adding-form form .priority #low:checked + label {
  background-color: green;
  color: white;
}
.adding-form form .priority #medium:checked + label {
  background-color: orange;
  color: white;
}
.adding-form form .priority #high:checked + label {
  background-color: red;
  color: white;
}
/* editing form  */
.adding-form form .priority #low2:checked + label {
  background-color: green;
  color: white;
}
.adding-form form .priority #medium2:checked + label {
  background-color: orange;
  color: white;
}
.adding-form form .priority #high2:checked + label {
  background-color: red;
  color: white;
}
/* end editing form */
.adding-form form .add-task {
  font-size: 2rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  color: whitesmoke;
  border: none;
  background-color: lightgreen;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.adding-form form .add-task:hover {
  background-color: rgb(72, 221, 72);
}

#main #content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: auto;
}
#main #content .add-task {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #ddd;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#main #content .add-task:hover {
  background-color: #ccc;
}
#main #content .add-task.hide {
  display: none;
}

#main #content #tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#main #content #tasks .todo {
  display: grid;
  grid-template-columns: auto 1fr repeat(4, auto);
  gap: 0.6rem;
  padding: 0.6rem;
  background-color: #ddd;
  border-radius: 0.3rem;
  align-items: center;
}
#main #content #tasks .todo.low {
  border-left: green 4px solid;
}
#main #content #tasks .todo.medium {
  border-left: orange 4px solid;
}
#main #content #tasks .todo.high {
  border-left: red 4px solid;
}
#main #content #tasks .todo .checked {
  display: block;
  width: 1.5rem;
  aspect-ratio: 1;
}
#main #content #tasks .todo .title {
  font-size: 1.5rem;
  color: #222;
}
#main #content #tasks .todo .checked:checked + .title {
  text-decoration: line-through;
}
#main #content #tasks .todo .checked:checked ~ * {
  opacity: 0.5;
}
#main #content #tasks .todo .details {
  color: darkcyan;
  border: darkcyan 0.5px solid;
  padding: 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
#main #content #tasks .todo .details:hover {
  background-color: darkcyan;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
}
#main #content #tasks .todo .date {
  font-size: 0.7rem;
}
#main #content #tasks .todo .edit,
#main #content #tasks .todo .delete {
  color: darkcyan;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#main #content #tasks .todo .edit:hover,
#main #content #tasks .todo .delete:hover {
  color: rgb(1, 88, 88);
}
#main #content .display-details {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
#main #content .display-details .panel {
  z-index: 2;
  padding: 1rem;
  background-color: #ddd;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 210px;
}
#main #content .display-details .panel h1 {
  margin: 0;
  color: #222;
}
#main #content .display-details .panel:not(h2) {
  color: #333;
}
#main #content .display-details .panel .description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#main #content .display-details .panel .description span.right {
  overflow-wrap: break-word;
}
#main .adding-form.active {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  z-index: 3;
}
#main .adding-form.edit.active {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  z-index: 3;
}
#main #nav .add-project-form.active {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  z-index: 3;
}
#main #content .display-details.active {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  z-index: 3;
}

#main #nav button.current {
  background-color: #bbb;
}
@media (max-width: 600px) {
  #header #open-nav {
    display: block;
  }
  #nav {
    display: none;
  }
  #nav.show {
    display: block;
  }
  #main {
    flex-direction: column;
    align-items: stretch;
  }
  #main #nav {
    width: 100%;
  }
  #main #content #tasks .todo .details {
    font-size: 0.5rem;
  }
}
